@font-face {
    font-family: 'Segoe WP N';
    src: url('../fonts/SegoeWPN/SegoeWPN.eot');
    src: url('../fonts/SegoeWPN/SegoeWPN.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeWPN/SegoeWPN.woff') format('woff'),
        url('../fonts/SegoeWPN/SegoeWPN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe WP';
    src: url('../fonts/Segoe-WP-Light/SegoeWP-Light.eot');
    src: url('../fonts/Segoe-WP-Light/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-WP-Light/SegoeWP-Light.woff') format('woff'),
        url('../fonts/Segoe-WP-Light/SegoeWP-Light.svg#SegoeWP-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
