/* Brand Colors ------------------------------------------------*/
$tabsheadcolor: #5094f2;
$tabsheadsize: 20px;
$main: #9f9f9f;
$font-color: #e60c0c;
$placeholder: $main;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
